@import "tailwindcss";

body {
  background-color: #f2f4f7;
  color: #1a1a1a;
}

.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}