@import "tailwindcss";

body {
  background-color: #f2f4f7;
  color: #1a1a1a;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C77F70;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #BA5B55;
  cursor: pointer;
  
}

